---
---

@import '_syntax.sass'

@font-face
  font-family: 'Mono Social Icons Font'
  src: url('/fonts/MonoSocialIconsFont-1.10.eot')
  src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype')
  src: url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff')
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype')
  src: url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg')
  src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype')
  font-weight: normal
  font-style: normal

/****************************************************************************
/*
 */* Common
 */*
 */****************************************************************************

/* Global Reset

*
  margin: 0
  padding: 0

html
  height: 100%

body
  height: 100%
  background: #fdfdfd
  color: #262626
  font: 18px Helvetica, Arial, sans-serif
  text-align: center

article, header, footer, section
  display: block

h1, h2, h3, h4, h5, h6
  font-size: 100%

h1
  margin-bottom: 1em

h2
  margin-top: 1.8em
  font-size: .9em

p
  margin: 1em 0

a
  color: #3ad
  &:hover
    color: #3cf

blockquote
  margin: 10px 0
  padding: 0 20px
  border: #ccc solid 1px
  color: #666
  background: #efefef

/****************************************************************************
/*
 */* Home
 */*
 */****************************************************************************

.posts
  list-style-type: none
  margin-bottom: 2em
  li
    line-height: 1.8em
  span
    margin: 0 1em 0 0
    display: inline-block
    color: #aaa
    font-family: Monaco, "Courier New", monospace
    font-size: 80%

.symbol, a.symbol:before
  font-family: 'Mono Social Icons Font'
  -webkit-text-rendering: optimizeLegibility
  -moz-text-rendering: optimizeLegibility
  -ms-text-rendering: optimizeLegibility
  -o-text-rendering: optimizeLegibility
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  font-smoothing: antialiased

a.symbol:before
  content: attr(title)
  margin-right: 0.3em
  font-size: 130%

/****************************************************************************
/*
 */* Site
 */*
 */****************************************************************************

.site
  text-align: justify
  width: 42em
  margin: 3em auto 2em
  line-height: 1.5em

.header a
  font-weight: bold
  text-decoration: none

.title
  display: inline-block
  margin-bottom: 2em
  font-size: .9em
  a
    color: #aaacaa
    &:hover
      color: #ccc

.footer
  color: #ccc
  border-top: 1px solid #eee
  margin-top: 2em
  overflow: hidden
  a
    color: #aaacaa
    text-decoration: none
    &:hover
      color: #ccc
  .social
    font-size: 20px
    float: left
    li
      display: inline-block
  .copyright
    font-size: 80%
    float: right
    margin-left: 3em

/****************************************************************************
/*
 */* Posts
 */*
 */****************************************************************************

h1
  margin-bottom: .5em

.meta
  margin: .5em 0 1em
  color: #ccc
  font-size: .8em

.post
  p
    word-spacing: 1px
    line-height: 1.8

  pre
    border: 1px solid #ddd
    padding: .6em
  ul, ol
    margin-left: 1.35em
  code
    margin: 0 .2em
    padding: .1em .2em
    border: solid 1px #ccc
  pre
    code
      margin: 0
      padding: 0
      border: none
    &.terminal
      border: 1px solid #000
      color: #FFF
